<!DOCTYPE html>
<html lang="en">

<head>
    <%- include codimd/head %>
</head>

<body>
    <%- include codimd/header %>
    <%- include codimd/body %>
    <%- include codimd/footer %>
    <%- include codimd/foot %>
</body>

</html>
