<!DOCTYPE html>
<html lang="en">

<head>
    <%- include head %>
    <link rel="stylesheet" href="<%- url %>/css/center.css">
</head>

<body>
    <%- include header %>
    <div class="container-fluid text-center">
        <div class="vertical-center-row">
                <h1><%- code %> <%- detail %> <small><%- msg %></small></h1>
        </div>
    </div>
    <%- include footer %>
</body>

</html>
<%- include foot %>