<!DOCTYPE html>
<html lang="en">

<head>
    <%- include codimd/head %>
    <link rel="stylesheet" href="<%- serverURL %>/css/center.css">
</head>

<body>
    <%- include codimd/header %>
    <div class="container-fluid text-center">
        <div class="vertical-center-row">
            <h1><%- code %> <%- detail %> <small><%- msg %></small></h1>
        </div>
    </div>
    <%- include codimd/footer %>
</body>

</html>
