<!DOCTYPE html>
<html lang="en">

<head>
    <%- include hackmd/head %>
</head>

<body>
    <%- include hackmd/header %>
    <%- include hackmd/body %>
    <%- include hackmd/footer %>
    <%- include hackmd/foot %>
</body>

</html>
