<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="<%= __('Best way to write and share your knowledge in markdown.') %>">
    <meta name="keywords" content="Collaborative, Markdown, Notes">
    <title>HackMD - <%= __('Collaborative markdown notes') %></title>
    <link rel="icon" type="image/png" href="<%- url %>/favicon.png">
    <link rel="apple-touch-icon" href="<%- url %>/apple-touch-icon.png">
    <% if(useCDN) { %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.0/bootstrap-social.min.css" integrity="sha256-02JtFTurpwBjQJ6q13iJe82/NF0RbZlJroDegK5g87Y=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css" integrity="sha256-ijlUKKj3hJCiiT2HWo1kqkI79NTEYpzOsw5Rs3k42dI=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2-bootstrap.min.css" integrity="sha256-NAWFcNIZdH+TS1xpWujF/EB/Y8gwBbEOCoaK/eqaer8=" crossorigin="anonymous" />
    <%- include build/cover-header %>
	<% } else { %>
	<%- include build/cover-pack-header %>
    <% } %>
    <%- include polyfill %>
</head>

<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand"></h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="ui-home<% if(!signin) { %> active<% } %>"><a href="#"><%= __('Intro') %></a>
                                </li>
                                <li class="ui-history<% if(signin) { %> active<% } %>"><a href="#"><%= __('History') %></a>
                                </li>
                                <div class="ui-signin" style="float: right; margin-top: 8px;<% if(signin) { %> display: none;<% } %>">
                                    <% if(allowAnonymous) { %>
                                    <a type="button" href="<%- url %>/new" class="btn btn-sm btn-link"><i class="fa fa-plus"></i> <%= __('New guest note') %></a>
                                    <% } %>
                                    <% if(facebook || twitter || github || gitlab || dropbox || google || ldap || email) { %>
                                    <button class="btn btn-sm btn-success ui-signin" data-toggle="modal" data-target=".signin-modal"><%= __('Sign In') %></button>
                                    <% } %>
                                </div>
                                <div class="ui-signout" style="float: right; margin-top: 8px;<% if(!signin) { %> display: none;<% } %>">
                                    <a type="button" href="<%- url %>/new" class="btn btn-sm btn-link"><i class="fa fa-plus"></i> <%= __('New note') %></a>
                                    <span class="ui-profile dropdown pull-right">
                                        <button id="profileLabel" class="btn btn-sm btn-link ui-profile-label" style="padding-right: 0;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img class="ui-avatar" width="20" height="20"><span class="hidden-xs hidden-sm">&ensp;<span class="ui-name"></span></span>&ensp;<i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="profileLabel">
                                            <li><a href="<%- url %>/logout"><i class="fa fa-sign-out fa-fw"></i> <%= __('Sign Out') %></a></li>
                                        </ul>
                                    </span>
                                </div>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div id="home" class="section"<% if(signin) { %> style="display:none;"<% } %>>
                    <div class="inner cover">
                        <h1 class="cover-heading"><i class="fa fa-file-text"></i> HackMD</h1>
                        <p class="lead">
                            <%= __('Best way to write and share your knowledge in markdown.') %>
                        </p>
                        <% if (infoMessage && infoMessage.length > 0) { %>
                        <div class="alert alert-info" style="max-width: 400px; margin: 0 auto;"><%= infoMessage %></div>
                        <% } %>
                        <% if (errorMessage && errorMessage.length > 0) { %>
                        <div class="alert alert-danger" style="max-width: 400px; margin: 0 auto;"><%= errorMessage %></div>
                        <% } %>
                        <% if(facebook || twitter || github || gitlab || dropbox || google || ldap || email) { %>
                        <span class="ui-signin">
                            <br>
                            <a type="button" class="btn btn-lg btn-success ui-signin" data-toggle="modal" data-target=".signin-modal" style="min-width: 200px;"><%= __('Sign In') %></a>
                        </span>
                        <span class="ui-or"><%= __('or') %></span>
                        <% } %>
                        <span class="ui-signin">
                            <a type="button" href="<%- url %>/features" class="btn btn-lg btn-primary" style="min-width: 200px;"><%= __('Explore all features') %></a>
                            <br>
                            <br>
                        </span>
                        <div class="lead row" style="width: 90%; margin: 0 auto;">
                            <div class="col-md-4 inner">
                                <a href="<%- url %>/features#share-notes">
                                    <i class="fa fa-bolt fa-3x"></i>
                                    <h4><%= __('Collaborate with URL') %></h4>
                                </a>
                            </div>
                            <div class="col-md-4 inner">
                                <a href="<%- url %>/features#mathjax">
                                    <i class="fa fa-bar-chart fa-3x"></i>
                                    <h4><%= __('Support charts and MathJax') %></h4>
                                </a>
                            </div>
                            <div class="col-md-4 inner">
                                <a href="<%- url %>/features#slide-mode">
                                    <i class="fa fa-tv fa-3x"></i>
                                    <h4><%= __('Support slide mode') %></h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="history" class="section"<% if(!signin) { %> style="display:none;"<% } %>>
                    <div class="ui-signin"<% if(signin) { %> style="display:none;"<% } %>>
                        <p><%= __('Below is the history from browser') %></p>
                    </div>
                    <br>
                    <form class="form-inline">
                        <div class="form-group" style="vertical-align: bottom;">
                            <input class="form-control ui-use-tags" placeholder="<%= __('Select tags...') %>" />
                        </div>
                        <div class="form-group">
                            <input class="search form-control" placeholder="<%= __('Search keyword...') %>" />
                        </div>
                        <a href="#" class="sort btn btn-default" data-sort="text" title="<%= __('Sort by title') %>">
                        <%= __('Title') %>
                        </a>
                        <a href="#" class="sort btn btn-default" data-sort="timestamp" title="<%= __('Sort by time') %>">
                        <%= __('Time') %>
                        </a>
                        <span class="hidden-xs hidden-sm">
                            <a href="#" class="btn btn-default ui-save-history" title="<%= __('Export history') %>"><i class="fa fa-save"></i></a>
                            <span class="btn btn-default btn-file ui-open-history" title="<%= __('Import history') %>">
                                <i class="fa fa-folder-open-o"></i><input type="file" />
                            </span>
                        <a href="#" class="btn btn-default ui-clear-history" title="<%= __('Clear history') %>" data-toggle="modal" data-target=".delete-modal"><i class="fa fa-trash-o"></i></a>
                        </span>
                        <a href="#" class="btn btn-default ui-refresh-history" title="<%= __('Refresh history') %>"><i class="fa fa-refresh"></i></a>
                    </form>
                    <h4 class="ui-nohistory" style="display:none;">
                        <%= __('No history') %>
                    </h4>
                    <a href="#" class="btn btn-primary ui-import-from-browser" style="display:none;"><%= __('Import from browser') %></a>
                    <ul id="history-list" class="list">
                    </ul>
                    <ul class="pagination"></ul>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <h6 class="social-foot">
                            <iframe src="//ghbtns.com/github-btn.html?user=hackmdio&repo=hackmd&type=star&count=true" frameborder="0" scrolling="0" width="104px" height="20px"></iframe>
                        </h6>
                        <p>
                            &copy; 2017 <a href="https://www.facebook.com/hackmdio" target="_blank"><i class="fa fa-facebook-square"></i> HackMD</a> | <a href="<%- url %>/s/release-notes" target="_blank"><%= __('Releases') %></a>
                        </p>
                        <select class="ui-locale">
                            <option value="en">English</option>
                            <option value="zh">中文</option>
                            <option value="fr">Français</option>
                            <option value="de">Deutsch</option>
                            <option value="ja">日本語</option>
                            <option value="es">Español</option>
                            <option value="el">Ελληνικά</option>
                            <option value="pt">Português</option>
                            <option value="it">italiano</option>
                            <option value="tr">Türkçe</option>
                            <option value="ru">Русский</option>
                            <option value="nl">Nederlands</option>
                            <option value="hr">hrvatski jezik</option>
                            <option value="pl">język polski</option>
                            <option value="uk">Українська</option>
                            <option value="hi">हिन्दी</option>
                            <option value="sv">svenska</option>
							<option value="eo">Esperanto</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- delete modal -->
    <div class="modal fade delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"><%= __('Are you sure?') %></h4>
                </div>
                <div class="modal-body" style="color:black;">
                    <h5 class="ui-delete-modal-msg"></h5>
                    <strong class="ui-delete-modal-item"></strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><%= __('Cancel') %></button>
                    <button type="button" class="btn btn-danger ui-delete-modal-confirm"><%= __('Yes, do it!') %></button>
                </div>
            </div>
        </div>
    </div>
    <%- include signin-modal %>

    <% if(useCDN) { %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.4.0/velocity.min.js" integrity="sha256-bhm0lgEt6ITaZCDzZpkr/VXVrLa5RP4u9v2AYsbzSUk=" crossorigin="anonymous" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.1/list.pagination.min.js" integrity="sha256-WwTza96H3BgcQTfEfxX7MFaFc/dZA0QrPRKDRLdFHJo=" crossorigin="anonymous" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js" integrity="sha256-HzzZFiY4t0PIv02Tm8/R3CVvLpcjHhO1z/YAUCp4oQ4=" crossorigin="anonymous" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js" integrity="sha256-vvT7Ok9u6GbfnBPXnbM6FVDEO8E1kTdgHOFZOAXrktA=" crossorigin="anonymous" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-url/2.3.0/url.min.js" integrity="sha256-HOZJz4x+1mn1Si84WT5XKXPtOlTytmZLnMb6n1v4+5Q=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.8/validator.min.js" integrity="sha256-LHeY7YoYJ0SSXbCx7sR14Pqna+52moaH3bhv0Mjzd/M=" crossorigin="anonymous" defer></script>
    <%- include build/cover-scripts %>
	<% } else { %>
    <%- include build/cover-pack-scripts %>
	<% } %>
</body>

</html>
