<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="Realtime collaborative markdown notes on all platforms.">
    <meta name="author" content="jackycute">
    <title>HackMD - Collaborative notes</title>
    <link rel="icon" type="image/png" href="<%- url %>/favicon.png">
    <link rel="apple-touch-icon" href="<%- url %>/apple-touch-icon.png">

    <!-- Bootstrap core CSS -->
    <% if(useCDN) { %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.0/bootstrap-social.min.css">
    <% } else { %>
    <link rel="stylesheet" href="<%- url %>/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%- url %>/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="<%- url %>/css/bootstrap-social.css">
    <% } %>
    <link rel="stylesheet" href="<%- url %>/vendor/select2/select2.css">
    <link rel="stylesheet" href="<%- url %>/vendor/select2/select2-bootstrap.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="<%- url %>/css/cover.css">
    <link rel="stylesheet" href="<%- url %>/css/site.css">
</head>

<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand"></h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="ui-home active"><a href="#">Home</a>
                                </li>
                                <li class="ui-history"><a href="#">History</a>
                                </li>
                                <li class="ui-releasenotes"><a href="#">Release Notes</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div id="home" class="section">
                    <div class="inner cover">
                        <h1 class="cover-heading"><i class="fa fa-file-text"></i> HackMD</h1>
                        <p class="lead">
                            Realtime collaborative markdown notes on all platforms.
                        </p>
                        <% if(facebook || twitter || github || dropbox) { %>
                        <a type="button" class="btn btn-lg btn-success ui-signin" data-toggle="modal" data-target=".signin-modal" style="display:none;">Sign In</a>
                        <div class="ui-or" style="display:none;">Or</div>
                        <% }%>
                        <p class="lead">
                            <a href="<%- url %>/new" class="btn btn-lg btn-default">New note</a>
                        </p>
                        <h5>Share directly with URL <i class="fa fa-link"></i></h5>
                        <a class="btn btn-primary" href="<%- url %>/features">More features <i class="fa fa-chevron-right"></i></a>
                    </div>
                    <br>
                </div>

                <div id="history" class="section" style="display:none;">
                    <% if(facebook || twitter || github || dropbox) { %>
                    <div class="ui-signin">
                        <h4>
                            <a type="button" class="btn btn-success" data-toggle="modal" data-target=".signin-modal">Sign In</a> to get own history!
                        </h4>
                        <p>Below are history from browser</p>
                    </div>
                    <div class="ui-signout" style="display:none;">
                        <h4 class="ui-welcome">Welcome! <span class="ui-name"></span></h4>
                        <a href="<%- url %>/new" class="btn btn-default">New note</a> Or
                        <a href="#" class="btn btn-danger ui-logout">Sign Out</a>
                    </div>
                    <% }%>
                    <hr>
                    <form class="form-inline">
                        <div class="form-group" style="vertical-align: bottom;">
                            <input class="form-control ui-use-tags" style="min-width:172px;max-width:344px;" />
                        </div>
                        <div class="form-group">
                            <input class="search form-control" placeholder="Search anything..." />
                        </div>
                        <a href="#" class="sort btn btn-default" data-sort="text" title="Sort by title">
                        Title
                        </a>
                        <a href="#" class="sort btn btn-default" data-sort="timestamp" title="Sort by time">
                        Time
                        </a>
                        <span class="hidden-xs hidden-sm">
                            <a href="#" class="btn btn-default ui-save-history" title="Export history"><i class="fa fa-save"></i></a>
                            <span class="btn btn-default btn-file ui-open-history" title="Import history">
                                <i class="fa fa-folder-open-o"></i><input type="file" />
                            </span>
                        <a href="#" class="btn btn-default ui-clear-history" title="Clear history" data-toggle="modal" data-target=".delete-modal"><i class="fa fa-trash-o"></i></a>
                        </span>
                        <a href="#" class="btn btn-default ui-refresh-history" title="Refresh history"><i class="fa fa-refresh"></i></a>
                    </form>
                    <h4 class="ui-nohistory" style="display:none;">
                        No history
                    </h4>
                    <a href="#" class="btn btn-primary ui-import-from-browser" style="display:none;">Import from browser</a>
                    <ul id="history-list" class="list">
                    </ul>
                </div>
                <div id="releasenotes" class="section" style="display:none;">
                    <div id="template" style="display:none;">
                        {{#each release}}
                        <div class="inner cover">
                            <h5 class="cover-heading">
                                <div class="text-left">
                                   <i class="fa fa-tag"></i> {{version}}
                                   &nbsp;<span class="label label-default">{{tag}}</span>
                                   <div class="pull-right">
                                       <i class="fa fa-clock-o"></i> {{date}}
                                   </div>
                                </div>
                            </h5>
                            <hr>{{#each detail}}
                            <div class="text-left">
                                <h5><i class="fa fa-dot-circle-o"></i> {{title}}</h5>
                                <ul>
                                    {{#each item}}
                                    <li>
                                        {{this}}
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                            {{/each}}
                        </div>
                        {{#unless @last}}
                        <br>{{/unless}} {{/each}}
                    </div>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <h6>
                            <iframe src="//ghbtns.com/github-btn.html?user=hackmdio&repo=hackmd&type=star&count=true" frameborder="0" scrolling="0" width="90px" height="20px" style="vertical-align:middle;"></iframe>
                        </h6>
                        <p>&copy; 2016 <a href="https://www.facebook.com/TakeHackMD" target="_blank"><i class="fa fa-facebook-square"></i> HackMD</a> by <a href="https://github.com/jackycute" target="_blank"><i class="fa fa-github-square"></i> jackycute</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- delete modal -->
    <div class="modal fade delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                </div>
                <div class="modal-body" style="color:black;">
                    <h5 class="ui-delete-modal-msg"></h5>
                    <strong class="ui-delete-modal-item"></strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger ui-delete-modal-confirm">Yes, do it!</button>
                </div>
            </div>
        </div>
    </div>
    <%- include modal %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <% if(useCDN) { %>
    <script src="//code.jquery.com/jquery-1.11.3.min.js" defer></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/jquery.gsap.min.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment-with-locales.min.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/js-url/2.0.2/url.min.js" defer></script>
    <% } else { %>
    <script src="<%- url %>/vendor/jquery/dist/jquery.min.js" defer></script>
    <script src="<%- url %>/vendor/bootstrap/dist/js/bootstrap.min.js" defer></script>
    <script src="<%- url %>/vendor/gsap/src/minified/TweenMax.min.js" defer></script>
    <script src="<%- url %>/vendor/gsap/src/minified/jquery.gsap.min.js" defer></script>
    <script src="<%- url %>/vendor/select2/select2.min.js" defer></script>
    <script src="<%- url %>/vendor/moment/min/moment-with-locales.min.js" defer></script>
    <script src="<%- url %>/vendor/handlebars/handlebars.min.js" defer></script>
    <script src="<%- url %>/vendor/js-url/url.min.js" defer></script>
    <% } %>
    <script src="<%- url %>/vendor/js.cookie.js" defer></script>
    <script src="<%- url %>/vendor/list.min.js" defer></script>
    <script src="<%- url %>/vendor/FileSaver.min.js" defer></script>
    <script src="<%- url %>/vendor/store.min.js" defer></script>
    <script src="<%- url %>/vendor/lz-string/libs/lz-string.min.js" defer></script>
    <script src="<%- url %>/js/common.js" defer></script>
    <script src="<%- url %>/js/history.js" defer></script>
    <script src="<%- url %>/js/cover.js" defer></script>
</body>

</html>
