<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="<%= __('Best way to write and share your knowledge in markdown.') %>">
    <meta name="keywords" content="Collaborative, Markdown, Notes">
    <title>HackMD - <%= __('Collaborative markdown notes') %></title>
    <link rel="icon" type="image/png" href="<%- url %>/favicon.png">
    <link rel="apple-touch-icon" href="<%- url %>/apple-touch-icon.png">

    <!-- Bootstrap core CSS -->
    <% if(useCDN) { %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.0/bootstrap-social.min.css">
	<% } else { %>
	<link rel="stylesheet" href="<%- url %>/vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="<%- url %>/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="<%- url %>/css/bootstrap-social.css">
	<% } %>
    <link rel="stylesheet" href="<%- url %>/vendor/select2/select2.css">
    <link rel="stylesheet" href="<%- url %>/vendor/select2/select2-bootstrap.css">
    <!-- Custom styles for this template -->
    <%- include build/cover-header %>
    <link rel="stylesheet" href="<%- url %>/css/cover.css">
    <link rel="stylesheet" href="<%- url %>/css/site.css">
</head>

<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand"></h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="ui-home<% if(!signin) { %> active<% } %>"><a href="#"><%= __('Intro') %></a>
                                </li>
                                <li class="ui-history<% if(signin) { %> active<% } %>"><a href="#"><%= __('History') %></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div id="home" class="section"<% if(signin) { %> style="display:none;"<% } %>>
                    <div class="inner cover">
                        <h1 class="cover-heading"><i class="fa fa-file-text"></i> HackMD</h1>
                        <p class="lead">
                            <%= __('Best way to write and share your knowledge in markdown.') %>
                        </p>
                        <% if(facebook || twitter || github || gitlab || dropbox || google) { %>
                        <span class="ui-signin">
                            <br>
                            <a type="button" class="btn btn-lg btn-success ui-signin" data-toggle="modal" data-target=".signin-modal" style="min-width: 170px;"><%= __('Sign In') %></a>
                        </span>
                        <span class="ui-or"><%= __('or') %></span>
                        <% }%>
                        <span class="ui-signin">
                            <a href="<%- url %>/new" class="btn btn-lg btn-default" style="min-width: 170px;"><%= __('New guest note') %></a>
                            <br>
                            <br>
                        </span>
                        <div class="lead row" style="width: 90%; margin: 0 auto;">
                            <div class="col-md-4 inner">
                                <a href="<%- url %>/features#share-notes">
                                    <i class="fa fa-bolt fa-3x"></i>
                                    <h4><%= __('Collaborate with URL') %></h4>
                                </a>
                            </div>
                            <div class="col-md-4 inner">
                                <a href="<%- url %>/features#mathjax">
                                    <i class="fa fa-bar-chart fa-3x"></i>
                                    <h4><%= __('Support charts and MathJax') %></h4>
                                </a>
                            </div>
                            <div class="col-md-4 inner">
                                <a href="<%- url %>/features#slide-mode">
                                    <i class="fa fa-tv fa-3x"></i>
                                    <h4><%= __('Support slide mode') %></h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="history" class="section"<% if(!signin) { %> style="display:none;"<% } %>>
                    <% if(facebook || twitter || github || gitlab || dropbox || google) { %>
                    <div class="ui-signin">
                        <p><%= __('Below is the history from browser') %></p>
                    </div>
                    <div class="ui-signout" style="display:none;">
                        <img class="ui-avatar">
                        <h4 class="ui-welcome"><%= __('Welcome!') %> <span class="ui-name"></span></h4>
                        <a href="<%- url %>/new" class="btn btn-md btn-default"><%= __('New note') %></a> <%= __('or') %>
                        <a href="#" class="btn btn-danger ui-logout"><%= __('Sign Out') %></a>
                    </div>
                    <% }%>
                    <h4>
                        <a type="button" href="<%- url %>/features" class="btn btn-primary"><%= __('Explore all features') %></a>
                    </h4>
                    <hr>
                    <form class="form-inline">
                        <div class="form-group" style="vertical-align: bottom;">
                            <input class="form-control ui-use-tags" placeholder="<%= __('Select tags...') %>" />
                        </div>
                        <div class="form-group">
                            <input class="search form-control" placeholder="<%= __('Search keyword...') %>" />
                        </div>
                        <a href="#" class="sort btn btn-default" data-sort="text" title="<%= __('Sort by title') %>">
                        <%= __('Title') %>
                        </a>
                        <a href="#" class="sort btn btn-default" data-sort="timestamp" title="<%= __('Sort by time') %>">
                        <%= __('Time') %>
                        </a>
                        <span class="hidden-xs hidden-sm">
                            <a href="#" class="btn btn-default ui-save-history" title="<%= __('Export history') %>"><i class="fa fa-save"></i></a>
                            <span class="btn btn-default btn-file ui-open-history" title="<%= __('Import history') %>">
                                <i class="fa fa-folder-open-o"></i><input type="file" />
                            </span>
                        <a href="#" class="btn btn-default ui-clear-history" title="<%= __('Clear history') %>" data-toggle="modal" data-target=".delete-modal"><i class="fa fa-trash-o"></i></a>
                        </span>
                        <a href="#" class="btn btn-default ui-refresh-history" title="<%= __('Refresh history') %>"><i class="fa fa-refresh"></i></a>
                    </form>
                    <h4 class="ui-nohistory" style="display:none;">
                        <%= __('No history') %>
                    </h4>
                    <a href="#" class="btn btn-primary ui-import-from-browser" style="display:none;"><%= __('Import from browser') %></a>
                    <ul id="history-list" class="list">
                    </ul>
                    <ul class="pagination"></ul>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <h6 class="social-foot">
                            <iframe src="//ghbtns.com/github-btn.html?user=hackmdio&repo=hackmd&type=star&count=true" frameborder="0" scrolling="0" width="90px" height="20px"></iframe>
                        </h6>
                        <p>
                            &copy; 2016 <a href="https://www.facebook.com/TakeHackMD" target="_blank"><i class="fa fa-facebook-square"></i> HackMD</a> | <a href="<%- url %>/s/release-notes" target="_blank"><%= __('Releases') %></a>
                        </p>
                        <select class="ui-locale">
                            <option value="en">English</option>
                            <option value="zh">中文</option>
                            <option value="fr">Français</option>
                            <option value="de">Deutsch</option>
                            <option value="ja">日本語</option>
                            <option value="es">Español</option>
                            <option value="el">Ελληνικά</option>
                            <option value="pt">Português</option>
                            <option value="it">italiano</option>
                            <option value="tr">Türkçe</option>
                            <option value="ru">Русский</option>
                            <option value="nl">Nederlands</option>
                            <option value="hr">hrvatski jezik</option>
                            <option value="pl">język polski</option>
                            <option value="uk">Українська</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- delete modal -->
    <div class="modal fade delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"><%= __('Are you sure?') %></h4>
                </div>
                <div class="modal-body" style="color:black;">
                    <h5 class="ui-delete-modal-msg"></h5>
                    <strong class="ui-delete-modal-item"></strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><%= __('Cancel') %></button>
                    <button type="button" class="btn btn-danger ui-delete-modal-confirm"><%= __('Yes, do it!') %></button>
                </div>
            </div>
        </div>
    </div>
    <%- include signin-modal %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <% if(useCDN) { %>
    <script src="//cdn.jsdelivr.net/velocity/1.3.1/velocity.min.js" defer></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js" defer></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment-with-locales.min.js" defer></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/js-url/2.3.0/url.min.js" defer></script>
	<% } else { %>
    <script src="<%- url %>/vendor/velocity/velocity.min.js" defer></script>
	<script src="<%- url %>/vendor/moment/min/moment-with-locales.min.js" defer></script>
	<% } %>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.1/list.pagination.min.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js" defer></script>
    <%- include build/cover-scripts %>
</body>

</html>
