<!DOCTYPE html>
<html lang="<%= getLocale() %>">

<head>
    <%- include('codimd/head') %>
    <link rel="stylesheet" href="<%- serverURL %>/css/center.css">
</head>

<body>
    <%- include('codimd/header') %>
    <div class="container-fluid text-center">
        <div class="vertical-center-row">
            <h1><%- msg %></h1>
            <form class="form-inline" method="post" id="form" enctype="application/x-www-form-urlencoded">
                <input class="form-control" type="password" name="password" placeholder="Password" id="password" />
                <button class="btn btn-primary" type="submit">submit</button>
            </form>
        </div>
    </div>
    <%- include('codimd/footer') %>
    <script src="<%= serverURL %>/js/password.js"></script>
</body>

</html>
