<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        HackMD - Collaborative notes
    </title>
    <link rel="icon" type="image/png" href="<%- url %>/favicon.png">
<link rel="apple-touch-icon" href="<%- url %>/apple-touch-icon.png">
    <link rel="stylesheet" href='<%- url %>/vendor/bootstrap/css/bootstrap.min.css'>
    <link rel="stylesheet" href='<%- url %>/vendor/font-awesome/css/font-awesome.min.css'>
    <link rel="stylesheet" href='<%- url %>/css/github-extract.css'>
    <link rel="stylesheet" href='<%- url %>/css/gist.css'>
    <link rel="stylesheet" href='<%- url %>/vendor/highlight-js/github.min.css'>
    <link rel="stylesheet" href='<%- url %>/css/markdown.css'>
    <link rel="stylesheet" href='<%- url %>/vendor/emojify/css/emojify.min.css'>
    <link rel="stylesheet" href='<%- url %>/css/extra.css'>
    <link rel="stylesheet" href='<%- url %>/css/site.css'>
</head>

<body>
    <div class="container markdown-body" style="display:none;">
<%- body %>
    </div>
</body>

</html>
<!--<script src="<%- url %>/js/ga.js" async defer></script>-->
<!--<script src="<%- url %>/js/newrelic.js" async defer></script>-->
<script src="<%- url %>/vendor/jquery-1.11.2.min.js" defer></script>
<script src="<%- url %>/vendor/lz-string.min.js" defer></script>
<script src="<%- url %>/vendor/remarkable.min.js" defer></script>
<script src="<%- url %>/vendor/remarkable-regex.js" defer></script>
<script src="<%- url %>/vendor/gist-embed.js" defer></script>
<script src="<%- url %>/vendor/string.min.js" defer></script>
<script src="<%- url %>/vendor/highlight-js/highlight.min.js" defer></script>
<script src="<%- url %>/vendor/emojify/js/emojify.min.js" defer></script>
<script src="<%- url %>/vendor/raphael-min.js" defer></script>
<script src="<%- url %>/vendor/lodash.min.js" defer></script>
<script src="<%- url %>/vendor/sequence-diagrams/sequence-diagram-min.js" defer></script>
<script src="<%- url %>/vendor/flowchart/flowchart-1.4.0.min.js" defer></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({ messageStyle: "none", skipStartupTypeset: true ,tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true }});
</script>
<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" defer></script>
<script src="<%- url %>/js/extra.js" defer></script>
<script src="<%- url %>/js/pretty.js" defer></script>