<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="mobile-web-app-capable" content="yes">
        <% if(typeof robots !== 'undefined' && robots) { %>
        <meta name="robots" content="<%- robots %>">
        <% } %>
        <% if(typeof description !== 'undefined' && description) { %>
        <meta name="description" content="<%- description %>">
        <% } %>
        <title><%- title %></title>
        <link rel="icon" type="image/png" href="<%- url %>/favicon.png">
        <link rel="apple-touch-icon" href="<%- url %>/apple-touch-icon.png">
        <% if(useCDN) { %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
        <% } else { %>
        <link rel="stylesheet" href='<%- url %>/vendor/font-awesome/css/font-awesome.min.css'>
        <link rel="stylesheet" href="<%- url %>/vendor/Ionicons/css/ionicons.min.css">
        <link rel="stylesheet" href="<%- url %>/vendor/octicons/octicons/octicons.css">
        <% } %>
        <link rel="stylesheet" href='<%- url %>/vendor/bootstrap/tooltip.min.css'>

        <link rel="stylesheet" href="<%- url %>/vendor/reveal.js/css/reveal.css">
        <link rel="stylesheet" href="<%- url %>/vendor/reveal.js/css/theme/black.css" id="theme">

        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="<%- url %>/vendor/reveal.js/lib/css/zenburn.css">

        <link rel="stylesheet" href='<%- url %>/css/github-extract.css'>
        <link rel="stylesheet" href='<%- url %>/css/gist.css'>
        <link rel="stylesheet" href="<%- url %>/css/mermaid.css">
        <link rel="stylesheet" href='<%- url %>/css/markdown.css'>
        <link rel="stylesheet" href='<%- url %>/vendor/emojify.js/dist/css/basic/emojify.min.css'>
        <link rel="stylesheet" href='<%- url %>/css/extra.css'>
        <link rel="stylesheet" href="<%- url %>/css/site.css">
        <link rel="stylesheet" href="<%- url %>/css/slide.css">

        <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
          document.write( '<link rel="stylesheet" href="<%- url %>/vendor/reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
        </script>
    </head>
    <body>
        <div class="container">
            <div class="reveal">
                <div class="slides"><%- slides %></div>
            </div>

            <div id="meta" style="display: none;"><%- meta %></div>

            <div class="footer">
                <div class="unselectable hidden-print" style="color: #777;">
                    <small>
                        <span>
                            <% if(lastchangeuserprofile) { %>
                                <span class="ui-lastchangeuser">&thinsp;<i class="ui-user-icon small" style="background-image: url(<%- lastchangeuserprofile.photo %>);" data-toggle="tooltip" data-placement="right" title="<%- lastchangeuserprofile.name %>"></i></span>
                            <% } else { %>
                                <span class="ui-no-lastchangeuser">&thinsp;<i class="fa fa-clock-o fa-fw" style="width: 18px;"></i></span>
                            <% } %>
                            &nbsp;<span class="text-uppercase ui-status-lastchange"></span>
                            <span class="ui-lastchange text-uppercase" data-createtime="<%- createtime %>" data-updatetime="<%- updatetime %>"></span>
                        </span>
                        <span class="pull-right"><%- viewcount %> views <a href="#" class="ui-edit" title="Edit this note"><i class="fa fa-fw fa-pencil"></i></a></span>
                        <br>
                        <% if(ownerprofile && owner !== lastchangeuser) { %>
                        <span class="ui-owner">
                            &thinsp;<i class="ui-user-icon small" style="background-image: url(<%- ownerprofile.photo %>);" data-toggle="tooltip" data-placement="right" title="<%- ownerprofile.name %>"></i>
                            &nbsp;<span class="text-uppercase">owned this note</span>
                        </span>
                        <% } %>
                    </small>
                </div>
                <% if(typeof disqus !== 'undefined' && disqus) { %>
                <div style="margin-top: 25px; margin-bottom: 15px;">
                    <%- include disqus %>
                </div>
                <% } %>
            </div>
        </div>

        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({ messageStyle: "none", skipStartupTypeset: true ,tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true }});
        </script>
        <% if(useCDN) { %>
        <script src="//cdn.jsdelivr.net/velocity/1.3.1/velocity.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.6.1/js-yaml.min.js" defer></script>
        <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment-with-locales.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/6.0.0/mermaid.min.js" defer></script>
        <% } else { %>
        <script src="<%- url %>/vendor/reveal.js/lib/js/head.min.js"></script>
        <script src="<%- url %>/vendor/reveal.js/js/reveal.js"></script>
        <script src="<%- url %>/vendor/velocity/velocity.min.js" defer></script>
        <script src="<%- url %>/vendor/js-yaml/dist/js-yaml.min.js" defer></script>
        <script type="text/javascript" src="<%- url %>/vendor/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML" defer></script>
        <script src="<%- url %>/vendor/moment/min/moment-with-locales.js" defer></script>
        <script src="<%- url %>/vendor/mermaid/dist/mermaid.min.js" defer></script>
        <script src="<%- url %>/vendor/emojify.js/dist/js/emojify.min.js" defer></script>
        <% } %>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="<%- url %>/vendor/bootstrap/tooltip.min.js" defer></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js" defer></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js" defer></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/gist-embed/2.5/gist-embed.min.js" defer></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js" defer></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/viz.js/1.3.0/viz.js" defer></script>
        <%- include build/slide-scripts %>
    </body>
</html>

<%- include ga %>
