<!-- refresh modal -->
<div class="modal fade" id="refreshModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><%= __('This page need refresh') %></h4>
            </div>
            <div class="modal-body">
                <div class="incompatible-version">
                    <h5><%= __('You have an incompatible client version.') %></h5>
                    <strong><%= __('Refresh to update.') %></strong>
                </div>
                <div class="new-version" style="display:none;">
                    <h5><%= __('New version available!') %></h5>
                    <a href="<%- serverURL %>/s/release-notes" target="_blank" rel="noopener"><%= __('See releases notes here') %></a>
                    <br>
                    <strong><%= __('Refresh to enjoy new features.') %></strong>
                </div>
                <div class="user-state-changed" style="display:none;">
                    <h5><%= __('Your user state has changed.') %></h5>
                    <strong><%= __('Refresh to load new user state.') %></strong>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="refreshModalRefresh"><%= __('Refresh') %></button>
            </div>
        </div>
    </div>
</div>
