<!-- signin modal -->
<div class="modal fade signin-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="mySmallModalLabel"><%= __('Choose method') %></h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                <% if (authProviders.facebook) { %>
                <a href="<%- serverURL %>/auth/facebook" class="btn btn-lg btn-block btn-login-method btn-facebook">
                    <i class="fa fa-facebook"></i> <%= __('Sign in via %s', 'Facebook') %>
                </a>
                <% } %>
                <% if (authProviders.twitter) { %>
                <a href="<%- serverURL %>/auth/twitter" class="btn btn-lg btn-block btn-login-method btn-twitter">
                    <i class="fa fa-twitter"></i> <%= __('Sign in via %s', 'Twitter') %>
                </a>
                <% } %>
                <% if (authProviders.github) { %>
                <a href="<%- serverURL %>/auth/github" class="btn btn-lg btn-block btn-login-method btn-github">
                    <i class="fa fa-github"></i> <%= __('Sign in via %s', 'GitHub') %>
                </a>
                <% } %>
                <% if (authProviders.bitbucket) { %>
                <a href="<%- serverURL %>/auth/bitbucket" class="btn btn-lg btn-block btn-login-method btn-bitbucket">
                    <i class="fa fa-bitbucket"></i> <%= __('Sign in via %s', 'Bitbucket') %>
                </a>
                <% } %>
                <% if (authProviders.gitlab) { %>
                <a href="<%- serverURL %>/auth/gitlab" class="btn btn-lg btn-block btn-login-method btn-gitlab">
                    <i class="fa fa-gitlab"></i> <%= __('Sign in via %s', 'GitLab') %>
                </a>
                <% } %>
                <% if (authProviders.mattermost) { %>
                <a href="<%- serverURL %>/auth/mattermost" class="btn btn-lg btn-block btn-login-method btn-mattermost">
                    <i class="oauth-icon"><img alt="mattermost-logo" src="<%- serverURL %>/images/mattermost-logo.svg" /></i> <%= __('Sign in via %s', 'Mattermost') %>
                </a>
                <% } %>
                <% if (authProviders.dropbox) { %>
                <a href="<%- serverURL %>/auth/dropbox" class="btn btn-lg btn-block btn-login-method btn-dropbox">
                    <i class="fa fa-dropbox"></i> <%= __('Sign in via %s', 'Dropbox') %>
                </a>
                <% } %>
                <% if (authProviders.google) { %>
                <a href="<%- serverURL %>/auth/google" class="btn btn-lg btn-block" style="color: #fff; background-color: #4285F4; vertical-align: middle; font-size: 14px; font-family: Roboto;">
                    <svg aria-hidden="true" width="34" height="34" viewBox="-8 -8 34 34" style="vertical-align: middle; margin-right: 16; background-color=#fff;"><path d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 002.38-5.88c0-.57-.05-.66-.15-1.18z" fill="#4285F4"></path><path d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 01-7.18-2.54H1.83v2.07A8 8 0 008.98 17z" fill="#34A853"></path><path d="M4.5 10.52a4.8 4.8 0 010-3.04V5.41H1.83a8 8 0 000 7.18l2.67-2.07z" fill="#FBBC05"></path><path d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 001.83 5.4L4.5 7.49a4.77 4.77 0 014.48-3.3z" fill="#EA4335"></path></svg> <%= __('Sign in via %s', 'Google') %>
                </a>
                <% } %>
                <% if (authProviders.saml) { %>
                <a href="<%- serverURL %>/auth/saml" class="btn btn-lg btn-block btn-login-method btn-success">
                    <i class="fa fa-users"></i> <%= __('Sign in via %s', 'SAML') %>
                </a>
                <% } %>
                <% if (authProviders.oauth2) { %>
                <a href="<%- serverURL %>/auth/oauth2" class="btn btn-lg btn-block btn-login-method btn-soundcloud">
                    <i class="fa fa-mail-forward"></i> <%= __('Sign in via %s', authProviders.oauth2ProviderName || 'OAuth2') %>
                </a>
                <% } %>
                <% if ((authProviders.facebook || authProviders.twitter || authProviders.github || authProviders.bitbucket || authProviders.gitlab || authProviders.mattermost || authProviders.dropbox || authProviders.google || authProviders.saml || authProviders.oauth2) && authProviders.ldap) { %>
                <hr>
                <% }%>
                <% if (authProviders.ldap) { %>
                <h4><%= __('Sign in via %s', authProviders.ldapProviderName ? authProviders.ldapProviderName + ' (LDAP)' : 'LDAP') %></h4>
                <form data-toggle="validator" role="form" class="form-horizontal" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="username" class="form-control" name="username" placeholder="Username" required>
                            <span class="help-block control-label with-errors" style="display: inline;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                            <span class="help-block control-label with_errors" style="display: inline;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" formaction="<%- serverURL %>/auth/ldap"><%= __('Sign In') %></button>
                        </div>
                    </div>
                </form>
                <% } %>
                <% if ((authProviders.facebook || authProviders.twitter || authProviders.github || authProviders.bitbucket || authProviders.gitlab || authProviders.mattermost || authProviders.dropbox || authProviders.google || authProviders.ldap || authProviders.oauth2) && authProviders.openID) { %>
                <hr>
                <% }%>
                <% if (authProviders.openID) { %>
                <h4><%= __('Sign in via %s', 'OpenID') %></h4>
                <form data-toggle="validator" role="form" class="form-horizontal" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="openid_identifier" placeholder="OpenID" required>
                            <span class="help-block control-label with-errors" style="display: inline;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" formaction="<%- serverURL %>/auth/openid"><%= __('Sign In') %></button>
                        </div>
                    </div>
                </form>
                <% } %>
                <% if ((authProviders.facebook || authProviders.twitter || authProviders.github|| authProviders.bitbucket || authProviders.gitlab || authProviders.mattermost || authProviders.dropbox || authProviders.google || authProviders.ldap || authProviders.oauth2 || authProviders.openID) && authProviders.email) { %>
                <hr>
                <% }%>
                <% if (authProviders.email) { %>
                <h4><%= __('Sign in via %s', 'E-Mail') %></h4>
                <form data-toggle="validator" role="form" class="form-horizontal" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" name="email" placeholder="E-Mail" required>
                            <span class="help-block control-label with-errors" style="display: inline;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                            <span class="help-block control-label with-errors" style="display: inline;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" formaction="<%- serverURL %>/login"><%= __('Sign In') %></button>
                            <% if (authProviders.allowEmailRegister) { %><button type="submit" class="btn btn-default" formaction="<%- serverURL %>/register"><%= __('Register') %></button><% }%>
                        </div>
                    </div>
                </form>
                <% }%>
            </div>
        </div>
    </div>
</div>
