<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../codimd/head %>
</head>

<body>
    <%- include ../codimd/minimalHeader %>

    <div class="row ui-content">
        <div class="container-fluid">
            <h1><%= __('Account Settings') %></h1>
            <% if (validationErrors !== null) { %>
                <div class="alert alert-danger" style="max-width: 400px; margin: 0 auto;"><%= __('User could not be saved.') %></div>
            <% } %>

            <a href="<%= serverURL %>/user/<%= user.id %>"><%= __('Visit public profile') %></a>

            <form method="post" enctype="application/x-www-form-urlencoded">
                <fieldset>
                    <legend><%= __('About You') %></legend>

                    <%- validationErrorFor(validationErrors, 'name') %>
                    <p><%= __('user.name') %>: <input name="name" value="<%= user.name %>"></p>

                    <%- validationErrorFor(validationErrors, 'email') %>
                    <p><%= __('user.email') %>: <input name="email" value="<%= user.email %>"></p>
                </fieldset>
                <fieldset>
                    <legend>Change Your Password</legend>
                    <%- validationErrorFor(validationErrors, 'invalid_password_given') %>
                    <p><%= __('user.old_password') %>: <input name="old_password" type="password" value=""></p>
                    <p><%= __('user.new_password') %>: <input name="new_password" type="password" value=""></p>
                    <%- validationErrorFor(validationErrors, 'confirm_password') %>
                    <%- validationErrorFor(validationErrors, 'confirmation_matches') %>
                    <p><%= __('user.password_confirmation') %>: <input name="password_confirmation" type="password" value=""></p>
                </fieldset>
                <input type="submit" value="save">
            </form>
      </div>
    </div>

    <%- include ../codimd/footer %>
    <%- include ../codimd/foot %>
</body>

</html>
