<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../codimd/head %>
</head>

<body>
    <%- include ../codimd/minimalHeader %>

    <div class="row ui-content">
        <div class="container-fluid">
            <h1>Account Settings</h1>
            <% if (validationErrors !== null) { %>
                <div class="alert alert-danger" style="max-width: 400px; margin: 0 auto;">User could not be saved.</div>
            <% } %>

            <a href="<%= serverURL %>/user/<%= user.id %>">Visit public profile</a>

            <form method="post" enctype="application/x-www-form-urlencoded">
                <fieldset>
                    <legend>About You</legend>

                    <p>id: <%= user.id %></p>
                    <p>profileid: <%= user.profileid %></p>

                    <%- validationErrorFor(validationErrors, 'name') %>
                    <p>name: <input name="name" value="<%= user.name %>"></p>

                    <%- validationErrorFor(validationErrors, 'email') %>
                    <p>email: <input name="email" value="<%= user.email %>"></p>

                    <%- validationErrorFor(validationErrors, 'profile') %>
                    <p>profile:<br><textarea name="profile" readonly><%= user.profile %></textarea></p>

                    <%- validationErrorFor(validationErrors, 'history') %>
                    <p>history:<br><textarea name="history" readonly><%= user.history %></textarea></p>

                    <p>accessToken: <%= user.accessToken %></p>
                    <p>refreshToken: <%= user.refreshToken %></p>
                    <p>deleteToken: <%= user.deleteToken %></p>
                </fieldset>
                <fieldset>
                    <legend>Change Your Password</legend>
                    <%- validationErrorFor(validationErrors, 'invalid_password_given') %>
                    <p>old password: <input name="old_password" value=""></p>
                    <p>new password: <input name="new_password" value=""></p>
                    <%- validationErrorFor(validationErrors, 'confirm_password') %>
                    <%- validationErrorFor(validationErrors, 'confirmation_matches') %>
                    <p>confirm password: <input name="password_confirmation" value=""></p>
                </fieldset>
                <input type="submit" value="save">
            </form>
      </div>
    </div>

    <%- include ../codimd/footer %>
    <%- include ../codimd/foot %>
</body>

</html>
